<div class="col-md-6">
    <br>
    <h1>Tuduap</h1>
    <br>
    <label>email:
        <input ng-model="tuduapp.userAddress">
    </label>
    <label>filter by email
        <input type="checkbox" ng-disabled="tuduapp.userAddress == ''" ng-model="doFilter" ng-init="doFilter = false">
    </label>
    <label>show done
        <input type="checkbox" ng-model="showDone" ng-init="showDone = false">
    </label>
    <div class="table-responsive">
        <table class="table table-condensed table-borderless">
            <tbody>
                <tr>
                    <th class="todo-column">Todo</th>
                    <th>Who's</th>
                    <th>Done</th>
                    <th></th>
                </tr>
                <tr ng-repeat="item in tuduapp.items | filter: (doFilter ? {'userAddress': tuduapp.userAddress} : ''):doFilter">
                    <td>{{item.content}}</td>
                    <td>{{item.userAddress}}</td>
                    <td>
                        <button class="btn btn-info btn-xs" id="{{item.$id}}" ng-click="tuduapp.completeItem(item.$id, item.$id)">✓</button>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-xs delete-button" ng-click="tuduapp.deleteItem(item.$id)">X</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <add-input></add-input>
</div>