<div class="col-md-6">
    <br>
    <h1>Tuduap</h1>
    <br>
    
    <br>
    <label>filter by email
        <input class="input" type="checkbox" ng-disabled="tuduapp.userAddress == ''" ng-model="doFilter" ng-init="doFilter = false">
    </label>
    <label>show done
        <input type="checkbox" ng-model="showDone" ng-init="false">
    </label>
    <label>show pending
        <input type="checkbox" ng-model="showPending" ng-init="false">
    </label>
    <br><br>
    <table class="table table-condensed table-borderless">
        <tbody>
            <tr id="header-row">
                <th id="todo-column">Todo</th>
                <th id="whos-column">Who's</th>
                <th id="complete-column"></th>
                <th id="delete-column"></th>
            </tr>
            <tr ng-repeat="item in tuduapp.items | filter: (doFilter ? {'userAddress': tuduapp.userAddress} : ''):doFilter | filter: (showDone ? { 'completed' : tuduapp.completed == false}: '') | filter: (showPending ? { 'completed' : tuduapp.completed == true}: '')">
                <td>{{item.content}}</td>
                <td>{{item.userAddress}}</td>
                <td>
                    <button class="btn btn-xs" ng-class="{'btn-warning': item.completed == 'false' , 'btn-success': item.completed == 'true'} " id="{{item.$id}}" ng-click="tuduapp.completeItem(item.$id)">✓</button>
                </td>
                <td>
                    <button class="btn btn-danger btn-xs delete-button" ng-disabled="tuduapp.userAddress != item.userAddress" ng-click="tuduapp.deleteItem(item.$id)">X</button>
                </td>
            </tr>
        </tbody>
    </table>
    <label>email:
        <input ng-model="tuduapp.userAddress">
    </label>
    <add-input></add-input>
</div>