h1 {
    color: #999999;
}

body {
    background: #080d11;
    color: #999999;
    font-family: "Courier New", Courier, sans-serif;
}

#header-row {
    font-size: x-large;
}

#todo-column {
    width: 200px;
}

#whos-column {
    width: 150px;
}

#complete-column {
    width: 30px;
}

#delete-column {
    width: 30px;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th {
    border: none;
}

.delete-button {
    font-family: "Lucida Console", Lucida, sans-serif;
}

.input {
    color: #262626;
}

add-input {
    display: inline-flex;
}

add-input button {
    margin-left: 10px;
}

stats {
    color: #262626;
}

stats label {
    margin: 10px;
}